<!DOCTYPE html>
<html>
<head>
	<title>HoneyMapping</title>

<!-- 
-- Latest compiled and minified CSS 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

-- Optional theme
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
-->


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

	<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-jvectormap-1.2.2.css"/>
	<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-ui-1.8.22.custom.css"/>

	<script src="{{ STATIC_URL }}jslib/jquery-2.2.0.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/jquery-jvectormap-world-mill-en.js"></script>
	<script src="{{ STATIC_URL }}jslib/jquery-ui.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/moment-with-locales.js"></script>
	<script src="{{ STATIC_URL }}jslib/bootstrap.js"></script>
	<script src="{{ STATIC_URL }}jslib/bootstrap-datetimepicker.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class='col-sm-6'>
				<div class="form-group">
					<div class='input-group date' id='datetimepicker1'>
						<input type='text' class="form-control" />
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(function () {
					$('#datetimepicker1').datetimepicker();
				});
			</script>
		</div>
	</div>

	<div id="world-map" style="width: 1300px; height: 600px;" align="center"></div>
	<div style="width: 1300px; height: 600px;" align="center">
		<button id="button-9"></button>
		<div id="slider" style="width: 1200px; height: 10px; margin-top: 15px;" align="center"></div>
	</div>

	<script type="text/javascript">
		var initialMonth;


		var d = new Date();

		var curMonth = d.getMonth()+1;
		console.log(d.getMonth()+1); 
		var curDay = d.getDate(); 
		console.log(d.getDate()); 
		var monthSize = new Date(d.getYear(), d.getMonth()+1, 0).getDate(); 
		console.log(new Date(d.getYear(), d.getMonth()+1, 0).getDate());

		//$.getJSON("http://127.0.0.1:8000/report/2015/04/2/0/0/2015/10/2/23/59/", function(data){
		$.getJSON("http://127.0.0.1:8000/report/2015/06/01/00/00/2015/06/30/23/59/", function(data){
			initialMonth = data;
			Map.init(data['markers'], data['count'], data['regions']);
		});
	</script>

	<script src="{{ STATIC_URL }}js/map.js"></script>
	<script src="{{ STATIC_URL }}js/slider.js"></script>
</body>
</html>
