<!DOCTYPE html>
<html>
<head>
	<title>HoneyMapping</title>
	
	<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-jvectormap-1.2.2.css"/>
	<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-ui-1.8.22.custom.css"/>
	<script src="{{ STATIC_URL }}jslib/jquery-1.8.2.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/jquery-jvectormap-world-mill-en.js"></script>
	<script src="{{ STATIC_URL }}jslib/jquery-ui.min.js"></script>

</head>
<body>
	<div id="world-map" style="width: 1300px; height: 600px;" align="center"></div>
	<div id="slider" style="width: 1300px; height: 10px; margin-top: 15px;"align="center"></div>
	<button id="button-9"></button>

	<script src="{{ STATIC_URL }}js/map.js"></script>
	<script type="text/javascript">
		var markers = {{ markers | safe }};
		var count 	= {{ count | safe }};
		var regions = {{ regions | safe }};
		Map.init(markers, count, regions);
	</script>


	<div id="piechart" align="center">
		<svg id = "chartsvg" style="width: 1300px; height: 200px"></svg>
	</div>
	<script src="{{ STATIC_URL }}jslib/d3.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/nv.d3.js"></script>
	<script type="text/javascript">
		var piedata = {{ piedata | safe}}

		console.log(piedata);

		nv.addGraph(function() {
			var chart = nv.models.pieChart()
				.x(function(d) { return d.label })
				.y(function(d) { return d.value })
				.showLabels(false);

			d3.select("#chartsvg")
				.datum(piedata)
				.transition().duration(350)
				.call(chart);

		  return chart;
		});
	</script>
</body>
</html>