<!DOCTYPE html>
<html>
<head>
	<title>HoneyMapping</title>

	<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-jvectormap-2.0.3.css"/>
	<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
	<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css"/>
	<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-ui.min.css"/>	 
	<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-ui.theme.css"/>	 


	<script src="{{ STATIC_URL }}jslib/jquery-2.2.0.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/jquery-jvectormap-2.0.3.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/jquery-jvectormap-world-mill.js"></script>
	<script src="{{ STATIC_URL }}jslib/jquery-ui.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/moment.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/bootstrap-datetimepicker.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class='col-sm-6'>
				<div class="form-group">
					<div class='input-group date' id='datetimepicker1'>
						<input type='text' class="form-control" />
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(function () {
					$('#datetimepicker1').datetimepicker();
				});
			</script>
		</div>
	</div>

	<div id="world-map" style="width: 1300px; height: 600px;" align="center"></div>
	<div style="width: 1300px; height: 600px;" align="center">	
		<a id="play-toggle" href="#" class="btn btn-default"><i class="glyphicon glyphicon-play"></i></a>

		<div id="slider" style="width: 1200px; height: 10px; margin-top: 15px;" align="center"></div>	
	</div>

	<script type="text/javascript">
		var initialMonth;

		var d = new Date();

		var curMonth = d.getMonth()+1;
		console.log(d.getMonth()+1); 
		var curDay = d.getDate(); 
		console.log(d.getDate()); 
		var monthSize = new Date(d.getYear(), d.getMonth()+1, 0).getDate(); 
		console.log(new Date(d.getYear(), d.getMonth()+1, 0).getDate());

		//$.getJSON("http://127.0.0.1:8000/report/2015/04/2/0/0/2015/10/2/23/59/", function(data){
		$.getJSON("http://127.0.0.1:8000/report/2015/06/01/00/00/2015/06/30/23/59/", function(data){
			initialMonth = data;
			Map.init(data['markers'], data['count'], data['regions']);
		});
	</script>

	<script src="{{ STATIC_URL }}js/map.js"></script>
	<script src="{{ STATIC_URL }}js/slider.js"></script>
</body>
</html>
