<!DOCTYPE html>
<html>
<head>
	<title>HoneyMapping</title>
	
	<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-jvectormap-1.2.2.css"/>
	<link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-ui-1.8.22.custom.css"/>
	<script src="{{ STATIC_URL }}jslib/jquery-1.8.2.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/jquery-jvectormap-world-mill-en.js"></script>
	<script src="{{ STATIC_URL }}jslib/jquery-ui.min.js"></script>
	<script src="{{ STATIC_URL }}jslib/bootstrap-datepicker.js"></script>

</head>
<body>
	<div id="world-map" style="width: 1300px; height: 600px;" align="center"></div>
	<div style="width: 1300px; height: 600px;" align="center">
		<button id="button-9"></button>
		<div id="slider" style="width: 1200px; height: 10px; margin-top: 15px;"align="center"></div>
	</div>

 	<div class="well">
		<input type="text" class="span2" value="02-16-2012" id="dp3" >
	</div>

	<script type="text/javascript">
		var initialMonth;

		$('#dp3').datepicker();
			
		var d = new Date();

		var curMonth = d.getMonth()+1 // console.log(d.getMonth()+1); // numero do mes
		var curDay = d.getDate() // console.log(d.getDate()); // dia do mes
		var monthSize = new Date(d.getYear(), d.getMonth()+1, 0).getDate() // console.log(new Date(d.getYear(), d.getMonth()+1, 0).getDate()); //dias no mes

		// $.getJSON("http://127.0.0.1:8000/report/2014/9", function(data){
		// 	initialMonth = data;
		// 	Map.init(data['markers'], data['count'], data['regions']);
		// });
	</script>

	<script src="{{ STATIC_URL }}js/map.js"></script>
	<script src="{{ STATIC_URL }}js/slider.js"></script>
	
</body>
</html>